.border-red{
    border: 2px solid red;
}

.flex{
    display: flex;
}

.justify-content{
    justify-content: center;
}

.align-item{
    align-items: center;
}

.invert{
    filter: invert();
}

.bg-gray{
    background-color: #121212;
}

.rounded{
    border-radius: 10px;
}

.bg-black{
    background-color: black;
}

.pointer{
    cursor: pointer;
}
